<p>The New York City Maritime Calendar is an aggregated calendar of public events for and about life on the waters of New York City.</p>
<p>We are an all-volunteer effort and encourage anyone to import, create, and edit events. <a href="/about">Learn more about this site and how to use it</a>.</p>
