/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background: #036;
  color: white;
  font-family: sans-serif;
}

a {
  color: white;
}

#tagcloud .spacer:last-child {
  display: none;
}

.hidden {
  display: none;
}

*[aria-hidden="true"] {
  display: none;
}

#today h3,
#tomorrow h3,
#next_two_weeks h3 {
  background: white;
  color: #036;
  margin: 1rlh;
  text-align: center;
}

#today,
#tomorrow,
#next_two_weeks {
  // background: #eee;
}

.event_list {
  // background: white;
}

.event_list li {
  // background: #ddd;
}

.list_date {
  // background: lightgreen;
}

.list_content .description,
.list_content .url:last-child {
  display: none;
}

#project_title {
  color: inherit;
  text-decoration: none;
}

#project_title abbr,
#project_title span:first-of-type,
#project_title span:last-of-type {
  text-transform: uppercase;
  line-height: 300%;
}

#today h3,
#tomorrow h3,
#next_two_weeks h3 {
  font-weight: bold;
  margin-top: 1rlh;
}

#today .list_date,
#tomorrow .list_date {
  display: none;
}

.list_date > div:first-child {
  display: inline;
}

.event_list li {
  margin-top: 1rlh;
  list-style-type: none;
  margin: 1rlh;
}

#whats_happening {
  margin-bottom: 1rlh;
}

.event_list .summary {
  font-weight: bold;
  text-decoration: none;
}

#global_header {
  background: white;
  color: #036;
  text-align: center;
  top: 0;
  position: sticky;
  isolation: isolate;
  height: 2rlh;
}

#global_header a {
  font-weight: bold;
}

#global_header button {
  position: absolute;
  top: 0;
  height: 2rlh;
  width: 2rlh;
  font-size: 60%;
  background: white;
  border: none;
}

#global_header button.menu {
  left: 0;
}

#global_header button.search {
  right: 0;
}

.maritime-subnav,
#whats_happening > h1:first-child,
#whats_happening > h3:first-of-type {
  display: none;
}
